<html>
	<head>
	<style>
	body{
	background-colo;pred;
	background-image:url("static/image.gif");
	background-size:1700px 750px;
	
	}
	</style>
	
		
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">  
	    <title>Login</title>
        <meta name="description" content="">
        <meta name="author" content="templatemo">
		<!--favicon-->
        <link rel="shortcut icon" href="favicon.ico" type="image/icon">
        <link rel="icon" href="favicon.ico" type="image/icon">
	   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- Footer -->
        <link type="text/css" rel="stylesheet" href="../../Homepage/css/style.css">
	    <style>
		.type
		{
			padding:5px;
			border-radius:10px;
			background-color :#ff4000;
		}
		
		</style>
		</body>
	   
	</head>
	<body>
	<br><br><br><br><br><br>
	<p style="font-size:45px;text-align:center;font-family:Timesnewroman;color:white;font-weight:bolder;margin-top:100px;margin-left:50px;">DDOS ATTACK DETECTION</p>
<br>
<div style=margin-left:600px;margin-right:550px;>
	<form style="text-align:center;color:black;font-size:17px;" action="http://127.0.0.1:5000/login" method = "post">

		<label for="inputFirstName"  style="margin-left:-5px;font-size:25px;font-weight:bolder;color:white;">Upload The File</label>&nbsp;&nbsp;
		<br><br>
                <input type="file"  class="form-control" name="files" accept=".csv">
<br>
		<input type="submit" class="btn btn-primary"  name="submit" value="Submit">


	 <br><br><br>
	        </form>	

        	
	     </div>
       
	</body>
</html>

