
<!DOCTYPE html>
<html>
<head>
<title> webpage</title>
</head>
<style>

body {


    background-colo;pred;
	background-image:url("static/imag.gif");
	background-size:1700px 750px
  
}



</style>

<body>

<h1 style="text-align:200px;position:relative;color:white;top:-20px;font-size:150px;margin-top:250px;margin-left:5px;text-align:center; padding-top:30px;height:300px;">DDoS-PSH-ACK<h1>

</div>
<!--img class="gif" src="{{ url_for('static', filename='spam.webp') }}" alt="SPAM Image">-->
</body>
</html>



























































































